.myMovie{
    background-color: violet;
}

.myMovie1{
    background-color: indigo;
}
.myMovie2{
    background-color:blue;
}
.myMovie3{
    background-color: green;
}
.myMovie4{
    background-color:yellow;
}
.myMovie5{
    background-color: orange;
}
.myMovie6{
    background-color: red;
}